.header__container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
}

.nav__link {
  text-decoration: none;
  color: var(--white-color);
  transition: var(--fast-transition);
  text-transform: capitalize;
}
.nav__link:hover {
  color: var(--light-gray-color);
  transform: translateY(-2px);
}

.nav__link--active {
  border: 1px solid var(--white-color);
  padding: 10px 20px;
  border-radius: 100px;
}
.nav__link--active:hover {
  border-color: 1px solid var(--light-gray-color);
}
